#back-top {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #993333;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  user-select: none;
  z-index: 1000;
}
.footer {
  padding: 1.25rem 0;
}
.footer-content  {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-left {
  font-size: 13px;
  line-height: 1.25rem;
}
.footer-right {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.footer-logo {
  height: 1.875rem;
  width: auto;
  margin-left: 0.625rem;
}

// detail footer
.detail-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc(100% - var(--w-slide-detail));
  z-index: 3;
}